@font-face {
    font-family: 'sora-bold';
    src: url('/fonts/Sora-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    background-color: #272727 !important;
}

html {
    padding-top: 1%;
    padding-left: 8%;
    padding-right: 8%;
}

body {
    color: #FFFFFF !important;
}

.main-text {
    margin-top: 3%;
    width: 75%;
    height: auto;

    background: linear-gradient(90deg, #3BF686, #4CA9FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: 'sora-bold', sans-serif!important;
    font-size: 51px;
}

/*  BIOGRAPHY SECTION */
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    margin-right: 8%;
    box-sizing: border-box;
}

.column h3 {
    font-family: 'sora-bold', sans-serif!important;
}

.column-img {
    margin-left: 1.5%;
    float: left;
    width: 15%;
    box-sizing: border-box;
}

.column-img img {
    border-radius: 80%;
    width: 120px;
    height: 120px;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Add space between the columns */
.row {
    margin: 60px 0;
    display: flex;
}

/* Responsive layout - makes the columns stack on top of each other */
@media (max-width: 767px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Prevent image stretching */
.column img {
    object-fit: cover;
}

/* Style the social media icons */
.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #000;
    font-size: 20px;
}

.social-icons a:hover {
    color: #666;
}

/* Align the social media icons in a row */
@media (max-width: 767px) {
    .social-icons {
        display: flex;
        flex-wrap: wrap;
    }

    .social-icons a {
        margin-right: 0;
        margin-bottom: 10px;
    }
}


/* Education or Experience Section */
.edu-section {
    margin-top: 4%;
}

.edu-section h3 {
    font-family: 'sora-bold', sans-serif!important;
}

.edu-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 20px 0;
}

.edu-column {
    flex: 1;
    margin: 10px;
    padding: 0 0px;
    max-width: 280px;
    transition: box-shadow 0.3s ease-in-out;
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
}

.edu-column:hover {
    box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.7);
    z-index: 1; /* Add this line */
}


.edu-column img {
    align-self: center;
    max-width: 100%;
    height: auto;
    display: block; /* Added to remove bottom space under image */
}



/* Project Section */
.project-section {
    margin-top: 4%;
}

.project-section h2 {
    margin-bottom: 2%;
    font-family: 'sora-bold', sans-serif!important;
}

.project-section h4 {
    font-size: 15px;
    color: #DEDEDE;
}

.proj-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 4%;
}

.proj-row img {
    width: 420px;
    height: 230px;
    margin-right: 20px;
}

.proj-details {
    display: flex;
    flex-direction: column;
}

.proj-details h4 {
    margin: 0;
}

.proj-details h2 {
    margin: 10px 0;
}

@media (max-width: 768px) {
    .proj-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .proj-row img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}